<!-- atendimento.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Atendimento</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <div style="display: flex; justify-content: center;">
      <ion-buttons>
        <ion-button [routerLink]="['/inicio']" routerLinkActive="ativo">Início</ion-button>
        <ion-button [routerLink]="['/atendimento']" routerLinkActive="ativo">Atendimento</ion-button>
        <ion-button [routerLink]="['/relatorios']" routerLinkActive="ativo">Relatórios</ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-button expand="block" (click)="chamar()" [disabled]="loading">
        Chamar Próxima Senha
      </ion-button>
    </ion-card-header>
    
  
    <ion-list>
      <ion-list-header>
        <h3>Últimas 5 Senhas</h3>
      </ion-list-header>
      <ion-item *ngFor="let s of historico">
        {{ s.numero }} - {{ s.tipo }}
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
