<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inìcio</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- a linha abaixo vem como padrao, nao excluí ela para deixar como exemplo -->
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <!-- adiciona um botão de alerta -->
  <!-- <ion-button id="present-alert">Clique aqui</ion-button>
  <ion-alert
    trigger="present-alert"
    header="João Pedro Carneiro da Silva"
    subHeader=""
    message="01711431"
    [buttons]="alertButtons"
  ></ion-alert>

  <ion-card>
    <ion-card-header>
      <ion-input readonly="true" label="Senha: " value="{{senhasService.inputNovaSenha}}"></ion-input>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="senhasService.novaSenha('SG')">Senha Geral</ion-button>
      <ion-button expand="block" (click)="senhasService.novaSenha('SP')">Senha Prioritária</ion-button>
      <ion-button expand="block" (click)="senhasService.novaSenha('SE')">Senha Exame</ion-button>
    </ion-card-content>
  </ion-card> -->
  

  <div class="space-y-4">
    <h2 class="text-lg font-semibold">Emitir Senha</h2>
    <div class="flex gap-4">
      <button ion-button (click)="emitirSenha('SP')">Prioritária (SP)</button>
      <button ion-button (click)="emitirSenha('SE')">Exames (SE)</button>
      <button ion-button (click)="emitirSenha('SG')">Geral (SG)</button>
    </div>
    <p *ngIf="senhaAtual" class="text-center mt-4 text-success">
      Senha emitida: {{ senhaAtual }}
    </p>
  </div>
  

</ion-content>
